<body>
  <div class="navbar">
    <img src="/src/assets/images.png" alt="github icon">
    <h1>GitHub Search</h1>
  </div><br><br>
  <div class="row">
    <div class="col-md-6">
      <div class="profile">
        <div class="user-details">
          <h1>User profile</h1>
          <div class="image">
            <img src="/src/assets/download.png" alt="">
          </div>
          <div class="info">
            <p>Name: Denis Kibet</p><br>
            <p>Company: Moringa School</p><br>
            <p>Email: Kibet1816@gmail.com</p><br>
          </div>
        </div><br><br><br>
        <div class="work">
          <div class="work1">Number of repos:0</div>
          <div class="work2">Number of followers:0</div>
          <div class="work3">Followers:0</div>
        </div>
        <button type="submit" class="btn btn-success" >View profile</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="repos">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi quisquam debitis consequatur esse, iste quos atque placeat qui. Dolorem voluptatem praesentium repudiandae provident beatae tempore et quaerat nihil temporibus autem.</p>
      </div>
    </div>
  </div>
  <p><a routerLink="/search" routerActive='active'>Search</a></p>
  <br><br>
</body>
