<body>
  <div class="navbar">
    <img src="/src/assets/images.png" alt="github icon">
    <h1>GitHub Search</h1>
  </div><br><br>

  <div class="search">
    <form>
      <fieldset class="border p-2">
        <legend class="w-auto">Search:</legend>
        <div class="form-group">
          <label for="github-user">Github user:</label>
          <input type="text" class="form-control" id="user">
        </div>
        <p>Or</p>
        <div class="form-group">
          <label for="github-repo">Github repo:</label>
          <input type="text" class="form-control" id="repo">
        </div>
        <button type="submit" class="btn btn-success">Search</button>
      </fieldset>
    </form>
  </div>
  <p><a routerLink="/view" routerActive='active'>View</a></p>
<br><br><br><br><br>

</body>
